.input {
  background: black;
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

.table {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
